USE [JobFilter2]
GO
/****** Object:  Table [dbo].[BlockCompany]    Script Date: 2024/1/16 下午 04:56:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlockCompany](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [nvarchar](200) NULL,
	[BlockReason] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BlockForever]    Script Date: 2024/1/16 下午 04:56:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlockForever](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [nvarchar](100) NULL,
	[BlockReason] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BlockJobItem]    Script Date: 2024/1/16 下午 04:56:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlockJobItem](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[JobCode] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CrawlSetting]    Script Date: 2024/1/16 下午 04:56:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CrawlSetting](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TargetUrl] [nvarchar](1500) NULL,
	[MinSalary] [int] NOT NULL,
	[MaxSalary] [int] NOT NULL,
	[Seniority] [nvarchar](100) NULL,
	[Remark] [nvarchar](500) NULL,
	[ExcludeWords] [nvarchar](500) NULL,
	[IncludeWords] [nvarchar](500) NULL,
	[HasSalary] [nvarchar](500) NULL,
 CONSTRAINT [PK__CrawlSet__3214EC0724F5CF55] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'資料編號' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BlockCompany', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'公司名稱' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BlockCompany', @level2type=N'COLUMN',@level2name=N'CompanyName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'封鎖理由' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BlockCompany', @level2type=N'COLUMN',@level2name=N'BlockReason'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'資料編號' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BlockJobItem', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'職缺編號' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BlockJobItem', @level2type=N'COLUMN',@level2name=N'JobCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'資料編號' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CrawlSetting', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'目標網址' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CrawlSetting', @level2type=N'COLUMN',@level2name=N'TargetUrl'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'最低月薪(不得低於)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CrawlSetting', @level2type=N'COLUMN',@level2name=N'MinSalary'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'最高月薪(不得低於)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CrawlSetting', @level2type=N'COLUMN',@level2name=N'MaxSalary'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'年資' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CrawlSetting', @level2type=N'COLUMN',@level2name=N'Seniority'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'設定說明' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CrawlSetting', @level2type=N'COLUMN',@level2name=N'Remark'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'排除關鍵字(以逗號區隔)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CrawlSetting', @level2type=N'COLUMN',@level2name=N'ExcludeWords'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'包含關鍵字(以逗號區隔)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CrawlSetting', @level2type=N'COLUMN',@level2name=N'IncludeWords'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否有寫薪水(意即是否排除面議)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CrawlSetting', @level2type=N'COLUMN',@level2name=N'HasSalary'
GO
